main {
  background-image: url("https://image.freepik.com/vetores-gratis/ilustracao-de-paisagem-montanha-verao-desenhos-animados-de-fundo-de-paisagem-natural-montanhosa-simples-com-campos-cenicos-de-grama-verde-em-colinas-e-montanhas-no-horizonte-cena-de-natureza-ensolarada-no-verao_213110-517.jpg");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.bolha {
  background: radial-gradient(
    hsla(0, 0%, 100%, 30%),
    hsla(240, 100%, 70%, 60%)
  );
  width: 5vw;
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  place-content: center;
  position: absolute;
}

.tiro {
  background: radial-gradient(hsl(0, 50%, 51%), hsl(0, 66%, 57%));
  background-image: url("./dodo.png");
  background-size: contain;
  width: 2vw;
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  place-content: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
}

#canhao {
  width: 10vw;
  height: auto;
  position: absolute;
  bottom: 5vh;
  left: calc(50% - 7vw);
  transform: translateX(-50%) rotate(0deg);
  transform-origin: center bottom;
}

#tempo {
  position: absolute;
  top: 90px;
  left: 20px;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  background-color: rgba(4, 66, 68, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
}

#pontuacao {
  position: absolute;
  top: 30px;
  left: 20px;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  background-color: rgba(4, 66, 68, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
}

#telaFinal button {
  background-color: #4caf50;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#telaFinal button:hover {
  background-color: #45a049;
}
