main {
  background-color: rgb(212, 238, 255);
  width: 480px;
  height: 320px;
  position: relative;
  overflow: hidden;
}

.bolha {
  background: radial-gradient(
    hsla(0, 0%, 100%, 30%),
    hsla(240, 100%, 70%, 60%)
  );
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  place-content: center;
  position: absolute;
}

.tiro {
  background: radial-gradient(hsl(0, 50%, 51%), hsl(0, 66%, 57%));
  background-image: url("./dodo.png");
  background-size: contain;
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  place-content: center;
  position: absolute;
  top: 70px;
  left: calc(480px / 2 - 15px / 2);
}

.canhao {
  background: radial-gradient(hsl(24, 85%, 61%), hsl(24, 78%, 45%));
  width: 20px;
  height: 45px;
  display: grid;
  place-content: center;
  position: absolute;
  bottom: 10px;
  left: calc(480px / 2 - 20px / 2);
  border-radius: 30% 30% 00% 0%;
  transform: rotate(45deg);
  transform-origin: 50% 100%;
}

.base {
  background: radial-gradient(hsl(24, 59%, 48%), hsl(24, 78%, 45%));
  width: 50px;
  height: 20px;
  display: grid;
  place-content: center;
  position: absolute;
  bottom: 1px;
  left: calc(480px / 2 - 50px / 2);
}

.placar {
  width: 50px;
  height: 20px;
  display: grid;
  place-content: center;
  position: absolute;
  top: 10px;
  left: calc(480px / 2 - 50px / 2);
}
