main{
    background-color: aquamarine;
    width: 480px;
    height: 320px;
    position: relative;
}

.bolha{
    background: radial-gradient(hsla(0, 0%, 100%, 30%), hsla(240, 100%, 70%, 60%));
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: grid;
    place-content: center;
    position: absolute;
    top: 100px;
    left: 30px;
}